[submodule "submodules/tallerGit"]
	path = submodules/tallerGit
	url = git@github.com:PaLucena/tallerGit.git
[submodule "submodules/tallerGit_"]
	path = submodules/tallerGit_
	url = git@github.com:PaLucena/tallerGit.git
[submodule "submodules/tallerGitHub"]
	path = submodules/tallerGitHub
	url = git@github.com:PaLucena/tallerGitHub.git
